
Swift UI Advanced.xcodeproj/xcuserdata/alexeyvalevich.xcuserdatad/xcschemes/xcschememanagement.plist
Swift UI Advanced.xcodeproj/project.xcworkspace/xcuserdata/alexeyvalevich.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
